{% extends 'base.html' %}

{% block title %}Subscription{% endblock %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/subcription.css' %}">
<!-- SUBSCRIPTION SECTION START -->
<section id="subscriptionSection" class="m-5 p-5">
    <div class="col-md-12 mb-4">
        <p class="h1 mb-5">Upgrade your membership</p>
    </div>
    <div id="subscriptionCards" class="d-flex mx-auto flex-column flex-md-column">
        <div class="card mx-auto" style="max-width: 16rem; min-width: 12rem;">
            <div style="height: 10px; background-color: rgb(255, 195, 195);" class="w-100"></div>
            <div class="card-body">
                <p style="color: red;" class="card-text packageName">Basic</p>
                <h1 class="card-title">$1.00</h1>
                <p class="text-muted">Free</p>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name"><span id="begText">Up to 10</span> sell per month</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long stablished</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long stablished fact</span>
                </div>
            </div>
            <a href="#" class="btn btn-outline-secondary mb-3 w-75 mx-auto">Cancel Subscription</a>
        </div>
        <div class="card mx-auto" style="max-width: 16rem; min-width: 10rem;">
            <div style="height: 10px; background-color: rgb(255, 130, 130);" class="w-100"></div>
            <div class="card-body">
                <p style="color: red;" class="card-text packageName">Basic</p>
                <h1 class="card-title">$1.00</h1>
                <p class="text-muted">Free</p>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name"><span id="begText">Up to 10</span> sell per month</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long stablished</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long stablished fact</span>
                </div>
            </div>
            <a href="#" class="btn btn-primary mb-3 w-75 mx-auto">Subscribe</a>
        </div>
        <div class="card mx-auto" style="max-width: 16rem; min-width: 10rem;">
            <div style="height: 10px; background-color: rgb(255, 101, 101);" class="w-100"></div>
            <div class="card-body">
                <p style="color: red;" class="card-text packageName">Basic</p>
                <h1 class="card-title">$1.00</h1>
                <p class="text-muted">Free</p>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name"><span id="begText">Up to 10</span> sell per month</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long stablished</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long stablished fact</span>
                </div>
            </div>
            <a href="#" class="btn btn-primary mb-3 w-75 mx-auto">Subscribe</a>
        </div>
        <div class="card mx-auto" style="max-width: 16rem; min-width: 10rem;">
            <div style="height: 10px; background-color: rgb(255, 32, 32);" class="w-100"></div>
            <div class="card-body">
                <p style="color: red;" class="card-text packageName">Basic</p>
                <h1 class="card-title">$1.00</h1>
                <p class="text-muted">Free</p>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name"><span id="begText">Up to 10</span> sell per month</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long stablished</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long stablished fact</span>
                </div>
            </div>
            <a href="#" class="btn btn-primary mb-3 w-75 mx-auto">Subscribe</a>
        </div>
        <div class="card mx-auto" style="max-width: 16rem; min-width: 10rem;">
            <div style="height: 10px; background-color: rgb(107, 0, 0);" class="w-100"></div>
            <div class="card-body">
                <p style="color: red;" class="card-text packageName">Basic</p>
                <h1 class="card-title">$1.00</h1>
                <p class="text-muted">Free</p>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name"><span id="begText">Up to 10</span> sell per month</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long stablished</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long</span>
                </div>
                <div class="my-3">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">It is a long stablished fact</span>
                </div>
            </div>
            <a href="#" class="btn btn-primary mb-3 w-75 mx-auto">Subscribe</a>
        </div>
    </div>
</section>
<!--Container Main end-->

{% endblock %}